.about-section {
  background: linear-gradient(to bottom, #892066 5%, #3a3a3a00);
  border-bottom: none;
  margin-top: 11rem;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 15rem;
  color: rgba(212, 200, 200, 0.37);
  padding: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 23rem;

  .about-content {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about-text {
      max-width: 50%;
      h2 {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }

      .about-buttons {
        display: flex;
        gap: 10px;

        .btn {
          background-color: #A41045;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            box-shadow: 0 0 5px #892066, 0 0 20px #892066;
          }
        }
      }
    }

    .about-image {
    position: relative;
    bottom: 10rem;
    width: 40%;
      height: 30rem;
      background-color: #3333339d;
    }
  }

  @media (max-width: 1024px) {
    
    .about-content {
      flex-direction: column;
      align-items: flex-start;

      .about-text {
        max-width: 100%;
        margin-bottom: 20px;
      }

      .about-image {
        width: 100%;
        height: 500px;
      }
    }
  }

  @media (max-width: 768px) {
    margin: 20px;
    margin-bottom:400px;
    padding: 20px 10px;

    .about-content {
      margin-left: 0;
      margin-right: 0;

      .about-text {
        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 0.9rem;
        }
      }

      .about-image {
        height: 200px;
        margin-top: 180px;
      }
    }
  }
  

  @media (max-width: 480px) {
    .about-section{
      height: 45rem;
    .about-content {
      .about-text {
        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .about-image {
        height: 200px;
       margin-top: 80px;
        
      }
    }
  }
}
}